<section class="about wow fadeInRight" data-wow-delay="0s" data-wow-duration=".8s" id="about">
    <div class="container about__wrapper">
        <h3 class="about__title title">О нас</h3>
        <h5 class="about__subtitle">Главными преимуществами нашего кафе является:</h5>
        <ul class="about__list list">
            <li class="list__item">
                Романтические встречи. Удивите свою девушку необычным жестом – устройте свидание мечты. Приглушенный свет, спокойная музыка, розы, шампанское, роскошная обстановка…И только вы вдвоем. Никто не помешает рассказать о светлых чувствах и наслаждаться блеском любимых глаз.
            </li>
            <li class="list__item">
                Зажигательные вечеринки. Собирайте самых отрывных друзей и устройте незабываемый вечер. С музыкой, танцами, настольными играми, едой и напитками. Вести себя шумно можно и даже нужно.
            </li>
            <li class="list__item">
                Девичники, мальчишники, дни рождения. Не знаете, куда привести гостей? Обычные кафешки и рестораны уже надоели? Бьемся об заклад, друзья будут в восторге от <%= title %>.
            </li>
            <li class="list__item">
                Просмотр спортивных мероприятий. Включайте в режиме онлайн матч любимой команды и болейте за ее победу.
            </li>
            <li class="list__item">
                Иногда хочется найти в шумном городе тихое место и отдохнуть от всех. Побыть наедине с собой или в компании одного, но верного друга или второй половики. Мы предоставляем такую возможность.
            </li>
        </ul>
    </div>
</section>