<section class="contacts wow fadeInLeft" data-wow-delay="0s" data-wow-duration=".8s" id="contacts">
    <div class="container">
        <h3 class="contacts__title title">Контакты</h3>
        <% contacts.forEach((item, i, array) => { %>
            <p class="contacts__item"><%= item.contact %></p>
        <% }); %>
    </div>
</section>