<!-- HEADER переписать -->
<div class="face" id="link__face">
    <div class="face__block wow fadeInUp" data-wow-delay="0s" data-wow-duration=".8s">
        <h1 class="face__title title">
            <%= title %>
        </h1>
        <h2 class="face__subtitle subtitle">
            Единая сеть ресторанов по России
        </h2>
        <h3 class="face__text text">
            При заказе онлайн скидка на бронирование зала от 30%. Предложение действует до 1-го <%= month %>.
        </h3>
    </div>
</div>