<section class="screen">
        <div class="fluid-container wow fadeInLeft" data-wow-delay="0s" data-wow-duration=".8s">
            <div class="container">
                <div class="row lure">
                    <div class="col-12 col-md-6 order-lg-1 col-lg-6 offset-lg-3 offset-0 offset-xl-0 offset-md-3 col-xl-4 order-xl-2 order-md-2 order-lg-2 order-md-1">
                        <div class="lure-image__wrapper">
                            <img class="lure__image" src="/images/lure__image.png" alt="lure__image.png">
                        </div>
                    </div>
                    <div class="col-12 order-lg-2 col-lg-12 col-xl-8 order-xl-1 order-md-1 order-lg-1 order-md-2">
                        <h2 class="lure__title title">
                            Лучше, чем дома, вкуснее, чем дома
                        </h2>
                        <p class="lure__text">
                            Мы привыкли, что кафе – общественное место. Насколько бы комфортным не был зал, там нельзя полностью расслабиться, ведь вокруг люди. <span class="title"><%= title %></span> предоставляет отдельные залы где вы можете отдохнуть и приятно провести время в компании друзей или с вашей второй половинкой. Приходите к нам,тут есть все для классного отдыха, еда, кальяны, выбор музыки на ваш вкус и доступные цены.
                        </p>
                    </div>

                </div>
            </div>
            <div class="fluid-container">
                <div class="row lure">
                    <div class="col-xl-4 col-lg-4 col-sm-12">
                        <div class="lure__info">
                            <h3 class="lure__title">У нас</h3>
                            <span class="lure__big-number title odometer first"></span>
                            <h3 class="lure__subtitle">залов</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-12">
                        <div class="lure__info">
                            <h3 class="lure__title">Вместимостью до</h3>
                            <span class="lure__big-number title odometer second"></span>
                            <h3 class="lure__subtitle">человек</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-12">
                        <div class="lure__info">
                            <h3 class="lure__title">Работаем</h3>
                            <span class="lure__big-number title odometer three"></span>
                            <h3 class="lure__subtitle">дней в неделю</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>