<button class="btn btn-danger" id="closeStore">Закрыть</button>
<div class="container store__container">
    <h2 class="store__title">Корзина</h2>
    <hr class="store__line">
    <small id="stub__hall">Вы пока не выбрали зал</small>
    <div class="container__hall">
        <div class="hall__push" id="hall__push">

        </div>
    </div>
    <hr class="store__line">
    <small id="stub__dish">Вы пока не выбрали ниодного блюда</small>
    <div class="container__dish">
        <div class="dish__push" id="dish__push">

        </div>
    </div>
    <hr class="store__line">
    <div class="result">
        <h5 class="result__price">
            Итог: <span id="result__price">0</span> руб.
        </h5>
    </div>

    <div class="store__buttons">
        <button class="btn btn-primary" data-toggle="modal" data-target="#storeModal" id="store__submit_button">Заказать</button>
    </div>
</div>
